* {
    padding: 0px;
    margin: 0px;
}

#mainhead {
    font-family: Poppins, sans-serif;
    font-size: 56px;
}

#span1 {
    color: red;
}

#span2 {
    color: skyblue;
}

#qr-code-container {
    position: relative;
    margin-bottom: 20px;
    /* Adjust as needed */
}

#qr-code {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 40px;
    /* Adjust size as needed */
    height: 40px;
    /* Adjust size as needed */
}